
.hireMeBlurMainDiv
{
  background-image:url(TapeshCaruModal5.jpg);
  background-repeat:no-repeat;
  background-size:cover; 
  box-sizing: border-box;
  background-position:center;
  background-attachment:fixed;
  opacity:70%;
}

.hireMeMainTextMainDiv
{
   
   border:3px solid #f1f1f1;
   position:relative;
   text-align: center;
   border-radius:10px;
   mix-blend-mode: screen;
}

.hireMetext
{
  background-color:white;
  color: black;
  font-weight: bold;
  font-size:40px;
  word-wrap:break-word;
  mix-blend-mode: screen;

}






@media screen and (max-width: 480px)
{

  #hirememodalcontentdivid
  {
    transition:2s;
    transform: scale(0.8,0.8);
    box-shadow: 0px 0px 22px 6px black;
    
  }
  #hirememodalcontentdivid:hover
  {
      transition:1s;
      transform: scale(0.7,0.7);
      box-shadow: 0px 0px 22px 6px crimson;
  }

}




/*  all log modl css Start   */

.hiremeModalContentDiv
{
  transition:2s;
  transform: scale(0.8,0.8);
  box-shadow: 0px 0px 22px 6px black;
  margin-top:-15%;
}
.hiremeModalContentDiv:hover
{
    transition:1s;
    transform: scale(0.7,0.7);
    box-shadow: 0px 0px 22px 6px crimson;
}

/*   all log modl css End  */




	












































.boxDiv {
height: 60px;
width: 60px;
position: absolute;
top: 10%;
left: 10%;
animation: animate 4s linear infinite;
background: rgba(255,255,255,.5);
border-radius:50%;
color:silver;
text-align: center;
font-size:13px;
}
.boxDiv:nth-child(1) {
top: 20%;
left: 20%;
animation: animate 8s linear infinite;
}
.boxDiv:nth-child(2) {
top: 26%;
left: 89%;
animation: animate 10s linear infinite;
}
.boxDiv:nth-child(3) {
top: 80%;
left: 90%;
animation: animate 5s linear infinite;
}
.boxDiv:nth-child(4) {
top: 65%;
left: 75%;
animation: animate 7s linear infinite;
}
.boxDiv:nth-child(5) {
top: 90%;
left: 10%;
animation: animate 9s linear infinite;
}
.boxDiv:nth-child(6) {
top: 30%;
left: 60%;
animation: animate 5s linear infinite;
}
.boxDiv:nth-child(7) {
top: 70%;
left: 33%;
animation: animate 8s linear infinite;
}
.boxDiv:nth-child(8) {
top: 75%;
left: 60%;
animation: animate 10s linear infinite;
}
.boxDiv:nth-child(9) {
top: 23%;
left: 50%;
animation: animate 6s linear infinite;
}
.boxDiv:nth-child(10) {
top: 35%;
left: 7%;
animation: animate 10s linear infinite;
}
@keyframes animate
{
  0% 
  {
    transform: scale(0) translateY(0) rotate(50deg);
  }
  100%
  {
    transform: scale(1.6) translateY(-250px) rotate(360deg);
  }
}


















